# .NET
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Environment / secrets

appsettings.json
appsettings.Development.json
appsettings.Production.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
#Visual studio
.vs/